a{text-decoration: none;}
#sub{
    margin: 30px 0px 0px 30px;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 5px 5px rgb(78, 78, 78);
    color: black;
}
#sub:hover{
    font-size: 71px;
    color: rgb(75, 75, 75);
}
#sub2{
    margin: 20px 0px 0px 70px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}