.size{
    border-radius: 15px;
    border-color: white;
    width: 450px;
    height: 620px;
    margin: auto;
}
.size1{
    border-radius: 15px;
    border-color: white;
    width: 660px;
    height: 450px;
    margin: auto;
}
.size2{
    border-radius: 15px;
    border-color: white;
    width: 400px;
    height: 620px;
    margin: auto;
}