img{
    width: 240px;
    height: 520px;
    position: absolute;
}
#co:hover{
    animation: coa 15s linear;
}
@keyframes coa {
    from{ z-index: 1; width: 340px; height: 620px;}
    to{ z-index: 1; width: 340px; height: 620px;}
}